In [1]:
import pandas as pd
import numpy as np
from sklearn.linear_model import LinearRegression

In [2]:
df = pd.read_csv('Multiple_Salary_Data.csv')
df.head()

   YearsExperience   Age  Salary
0              1.1  21.0   39343
1              1.3  21.5   46205
2              1.5  21.7   37731
3              2.0  22.0   43525
4              2.2  22.2   39891

In [3]:
X = df[['YearsExperience', 'Age']]     # -> independent
y = df['Salary']                       # -> dependent

In [4]:
X.head()

   YearsExperience   Age
0              1.1  21.0
1              1.3  21.5
2              1.5  21.7
3              2.0  22.0
4              2.2  22.2

In [5]:
y.head()

0    39343
1    46205
2    37731
3    43525
4    39891
Name: Salary, dtype: int64

In [6]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=0)

In [7]:
model = LinearRegression().fit(X_train, y_train)

In [8]:
print("Score of Traing data = ", model.score(X_train, y_train))
print("Score of Testing data = ", model.score(X_test, y_test))

Score of Traing data =  0.9457852597705751
Score of Testing data =  0.9877833011811588

In [9]:
model.coef_    # coeffiecent of model ( 2 columns YearsExperience, Age)

array([5548.76455477, 2108.02707059])

In [10]:
model.intercept_

-10562.233064972694

In [11]:
model.predict([[1.1, 21.0]])

array([39809.97642761])

In [12]:
model.predict([[2.0,22.0]])

array([46911.89159749])